
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

body {
     background:rgb(57, 57, 57);
     color: antiquewhite;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: rgb(49, 48, 48);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo {
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    margin-left: 50px;
    transition: 0.3s;
    
}

.navbar a:hover {
    color: rgb(0, 0, 0);
}

.About {
    height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.about-content {
    max-width: 600px;

}

.about-content h1 {
    font-size: 56px;
    font-weight: 700;

}

.about-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: aliceblue;
}

.about-content p {
    font-size: 16px;
}


.photo-block {
  margin-left: 20%; 
}

.photo-block img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  
}
